.search-container {
    max-width: 800px;
    margin: auto;
}

.form-group.row {
    margin-bottom: 1.5rem;
}

.col-form-label {
    padding-right: 1.5rem;
}

.table-responsive {
    margin-top: 20px;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}
