.navbar-profile {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.navbar {
    background-color: #0d6efd !important;
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .input-group-text {
    color: white !important;
}

.navbar .form-control {
    color: black;
}

.navbar-logo {
    height: 35px; /* Increase the height */
    margin-left: 10px;
}
